{% extends 'flatpages/default.html' %}
{% load f_filter %}
{% load tags %}
{% block title %}
News
{% endblock title %}


{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
`   {% endif %}

   <hr>

   <h1>Все новости</h1>
   <hr>
   {% if category_news_list %}
       <table>
           <tr>
               <td>
                   Название
               </td>
               <td>
                   Категория
               </td>
               <td>
                   Рейтинг
               </td>
                <td>
                   Текст
               </td>
           </tr>
           {% for news in category_news_list %}
           <tr>
               <td>{{ news.title1|censor}}</td>
               <td>{% for postCategory in news_post.postCategory.all  %}
                    <a href=" {% url 'category_list' postCategory.id %}" > {{postCategory}}</a>
                     {% endfor %}
               </td>
               <td>{{ news.rating }}</td>
               <td>{{ news.text|truncatechars:20}}</td>
           </tr>

           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}